<header>
    <nav class="main-nav">
        <div class="nav-left">
            <span class="logo-parent">
                <a href="/">
                    <img src="/images/online-logo.png" alt="online-logo" class="nav-logo pointer">
                </a>
            </span>
        </div>

        <div class="nav-right">
            <ul class="nav-list">
                <li class="nav-items pointer">
                    <a href="/">Home</a>
                </li>
                <li class="nav-items pointer">
                    <a href="/courses">All Courses</a>
                </li>
            </ul>
        </div>

    </nav>
</header>

<div class="grid-background">
    <div class="heading">
        <p>All Courses</p>
    </div>
    <div class="grid row">
        {{#each courses as |course|}}
        <div class="card-layout col-md-4 col-sm-6">
            <div class="card o-layout-card o-course-card h-100">
                <div class="difficulty-div">
                    <div class="{{course.difficultyName}}-level"></div>
                    <div class="{{course.difficultyName}}-text">
                        {{course.difficultyName}}
                    </div>
                </div>

                <div class="header">
                    <div class="card-image o-image-card">
                        <img src="{{course.logo}}">
                    </div>

                    <h1 class="card-heading o-text-card">
                        <a href="/courses/{{course.id}}">{{course.title}}</a>
                    </h1>
                    <h2 class="card-text">
                        {{course.subtitle}}
                    </h2>
                </div>

                <div class="row no-gutters align-items-center">
                    <div class="card-mentor col-12 col-sm-8 col-md-12">
                        <div class="card-mentor-image">
                            {{#each course.instructors as |instructor index|}} {{#ifCond index '<' 2}} <img class="card-mentors"
                                src="{{instructor.photo}}">
                                {{/ifCond}} {{/each}}
                        </div>
                        <div class="card-mentor-text">
                            <span>Instructors</span>
                            <div class="card-mentor-name">
                                {{#each instructors as |instructor|}}
                                <h2>{{instructor.name}}</h2>
                                <p class="card-text card-body">
                                    {{{mdToHtml instructor.description}}}
                                </p>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="col-md-6 col-sm-4 col-6 order-sm-2 order-md-0">
                        <div class="card-price-details">
                            <div class="card-batch-details">
                                Starting from
                                <br>
                                <span class="price">{{formatEpochDate course.runs.0.start}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="button-parent col-md-6 col-sm-3 col-6 order-sm-3 order-md-1">
                        <div class="button-solid">
                            <a href="courses/{{id}}">
                                <button>Rs. {{course.runs.0.price}}</button>
                            </a>
                        </div>
                    </div>

                    <div class="card-mentor-divider col-12 order-sm-0 order-md-2"></div>

                    <div class="footer col-md-12 col-sm-5 col-12 order-sm-1 order-md-3">
                        <div class="red">Hurry Up!</div>
                        Enrollment ends {{formatEpochDate course.runs.0.end}}
                    </div>
                </div>

            </div>
        </div>
        {{/each}}
    </div>
</div>